/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* body {
  background-image: url(../Resources/logo-text.png);
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 80%;
} */

header img{
  width: 80%;
  margin-top: 50px;
}

#smallPic {
  display: none;
}


header {
  display: flex;
  justify-content: center;
}


h1 {
  display: flex;
  justify-content: left;
  /* margin-left: 430px; */
  margin-bottom: -40px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 11rem;
  
}

h5 {
  display: flex;
  justify-content: left;
  /* margin-right: 330px; */
  font-size: 2.5rem;
  font-family: 'Shadows Into Light', cursive;
  inline-size: 300px;
}

li {
  display: inline;
  margin: 3px 0px;
  font-size: 3.5rem;
  font-family: 'Shadows Into Light', cursive;
  color: black;
}

ul {
  background-color: white;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  margin: 30px 350px;
  border-radius: 10px;
  margin-top: 40px;
}

li:hover {
  color: rgb(12, 118, 189);
}

a {
  text-decoration: none;
}

nav {
  margin-top: 80px;
  /* margin-bottom: 630px; */
  /* position: fixed; */
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
  text-align: center;
}

#intro {
  margin-top: -50px;
}

footer {
  text-align: center;
}





/******************************************
/* GRID
/*******************************************/

  

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Media Screen for grid */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/******************************************
/* Attempts
/*******************************************/

ul {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 40px;
}


/******************************************
/* Sizes
/*******************************************/

@media screen and (max-width: 1100px) {
  h2 {
    text-align: center;
  }

  /* #bigPic {
    display: none;
  } */

  li {
    
    margin: 3px 0px;
    font-size: 3.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: black;
  }

  ul {
    background-color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 30px 150px;
    border-radius: 10px;
    margin-top: 40px;
  }

  h2 {
    inline-size: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
  }


}


@media screen and (max-width: 700px) {

  ul {
    background-color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 30px 15px;
    border-radius: 10px;
    margin-top: 40px;
  }

  h2 {
    inline-size: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }


}

@media screen and (max-width: 400px) {
  ul {
    background-color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
    border-radius: 10px;
    margin-top: 40px;
  }
}